#messageText {
    -fx-font-weight: bold;
    -fx-label-padding: 0 20 0 0;
}

#messageTime {
    -fx-label-padding: 0 20 0 0;
}

#messageSender {
    -fx-label-padding: 0 20 0 0;
}

#messageHistory {
    -fx-min-height: 200;
    -fx-min-width: 400;
}